.main-form {
    width: 1100px;
}

.mode1 {
    display: block;
}

.mode2 {
    display: none;
}


/*@media (max-width: 991px) {*/
/*    .mode1 {*/
/*        display: none;*/
/*    }*/

/*    .mode2 {*/
/*        display: block;*/
/*    }*/

/*}*/


@media (min-width: 960px) and (max-width: 1279px) {
    .main-form {
        width: 720px;
    }

}

@media (min-width: 600px) and (max-width: 959px) {

    .main-form {
        width: 520px;
    }

}

@media (min-width: 320px) and (max-width: 599px) {

    .main-form {
        width: 330px;
    }
}


@media (min-width: 259px) and (max-width: 319px) {
    .main-form {
        width: 250px;
    }
}

@media (max-width: 258px) {
    .main-form {
        width: 200px;
    }
}

